// .skills [data-content] {
//     display: none;
// }

// .skills-active[data-content] {
//     display: block;
// }

.skills-container {
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;

    .skills-tabs {
        .skills-header {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: var(--mb-2-5);
            }

            .skills-icon,
            .skills-arrow {
                font-size: 2rem;
                color: var(--skin-color);
            }

            .skills-icon {
                margin-right: var(--mb-0-75);
            }

            .skills-title {
                font-size: var(--h3-font-size);
                font-weight: var(--font-medium);
            }

            .skills-substitle {
                font-size: var(--small-font-size);
            }

            .skills-arrow {
                margin-left: auto;
            }

        }

        .skills-active .skills-arrow {
            transform: rotate(-90deg);
            transition: all 0.3s;
        }
    }

    .skills-content {
        .skills-list {
            row-gap: 1.8rem;

            .skills-data {
                margin-bottom: var(--mb-1);

                .skills-titles {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: var(--mb-0-5);

                    .skills-name {
                        font-size: var(--normal-font-size);
                        font-weight: var(--font-medium);
                    }
                }

                .skills-bar,
                .skills-percentage {
                    height: 5px;
                    border-radius: 0.25rem;
                }

                .skills-bar {
                    background-color: var(--box-color);
                }

                .skills-percentage {
                    display: block;
                    background-color: var(--skin-color);
                }
            }
        }
    }
}

body.light {
    .skills {
        background: var(--white-color);

        .skills-name,
        .skills-active,
        .skills-content,
        .skills-number,
        .skills-substitle {
            color: var(--secondary-color);
        }

        .skills-percentage,
        .skills-title {
            color: var(--skin-color);
        }
    }
}

@media screen and (max-width: 1024px) {
    .skills-container {
        grid-template-columns: 340px 300px;

        .skills-list {
            row-gap: 1.7rem !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .skills-container {
        margin: 0;
        grid-template-columns: 300px;
        row-gap: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .skills-container {
        grid-template-columns: 350px !important;
    }
}

@media screen and (max-width: 350px) {
    .skills-container {
        grid-template-columns: 290px !important;
        row-gap: 1.5rem !important;

        .skills-tabs {
            .skills-header {
                margin-bottom: var(--mb-1-5) !important;

                svg {
                    height: 1.5rem;

                    &.react {
                        position: relative;
                        right: 5px;
                        margin: 0;
                        height: 2rem !important;
                    }
                }

                .skills-title {
                    font-size: var(--normal-font-size);
                }

                .skills-substitle {
                    font-size: var(--smaller-font-size) !important;
                }
            }
        }
    }
}