.about-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1rem;
    // align-items: center;

    .img-content {
        position: relative;
        width: 100%;
        height: 100%;

        .about-img {
            width: 450px;
            border-radius: 0.75rem;
            justify-self: center;
        }
    }

    .about-data {
        .about-heading {
            font-size: var(--h1-font-size);
            margin-bottom: var(--mb-0-75);
            font-family: 'BebasNeue';
            letter-spacing: 2px;
            font-weight: 500;
        }

        .about-description {
            text-align: justify;
            font-size: 16px;
            margin-bottom: var(--mb-2);
        }

        .about-info {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 0.75rem;
            margin-bottom: var(--mb-3);

            .about-box {
                text-align: center;
                border-radius: 0.25rem;
                padding: 1rem 1.25rem;
                background-color: var(--box-color);

                .about-icon {
                    font-size: 1.5rem;
                    color: var(--skin-color);
                    margin-bottom: var(--mb-0-75);
                }

                .about-title {
                    font-size: var(--small-font-size);
                }

                .about-subtitle {
                    font-size: var(--smaller-font-size);
                }
            }
        }
    }
}

body.light {
    .about {
        background: var(--white-color);

        .about-container {
            .about-data {
                .about-heading {
                    color: var(--box-color);
                }

                .about-description {
                    color: var(--box-color);
                }
            }
        }
    }
}

@media screen and (max-width: 1216px) {
    .about-container {
        column-gap: 2.5rem;

        .about-description {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;

        .about-img {
            width: 350px !important;
        }

        .about-data {
            text-align: center;

            .about-description {
                padding: 0 4rem;
                text-align: center;
            }

            .about-info {
                justify-content: center;

                .about-box {
                    padding: 0.75rem 0.5rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        margin: 0;

        .about-img {
            width: 250px !important;
        }
    }
}

@media screen and (max-width: 576px) {
    .about-info {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .about-description {
        padding: 0 !important;
    }
}

@media screen and (max-width: 350px) {
    .about-container {
        row-gap: 2rem;

        .about-heading {
            font-size: var(--normal-font-size) !important;
        }

        .about-description {
            font-size: var(--smaller-font-size) !important;
            margin-bottom: var(--mb-1-5) !important;
        }

        .about-info {
            grid-template-columns: repeat(2, 1fr) !important;
            row-gap: 0.5rem;
            margin-bottom: var(--mb-1-5) !important;
        }
    }
}