.services-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    column-gap: 1.8rem;

    .service-content {
        position: relative;
        background-color: var(--box-color);
        padding: 6rem 0 2rem 2.5rem;
        border-radius: 0.25rem;

        .services-icon {
            display: block;
            font-size: 1.8rem;
            color: var(--skin-color);
            margin-bottom: var(--mb-1);
        }

        .services-title {
            font-size: var(--h3-font-size);
            margin-bottom: var(--mb-1);
            font-weight: var(--font-medium);
        }

        .services-button {
            color: var(--skin-color);
            font-size: var(--small-font-size);
            display: flex;
            align-items: center;
            column-gap: 0.25rem;
            cursor: pointer;

            .button-icon {
                font-size: 1rem;
                transition: all 0.3s;
            }

            &:hover .button-icon {
                transform: translateX(0.25rem);
            }
        }

        .services-modal {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: var(--z-modal);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            transition: all 0.3s;
        }
    }
}