//* Bebas Neue
@font-face {
    font-family: 'BebasNeue';
    src: url('../../fonts/Bebas_Neue/BebasNeue-Regular.ttf'),
        url('../../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

//* Yanone Kaffeesatz
@font-face {
    font-family: 'YK Bold';
    src: url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Bold.ttf'),
        url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'YA Extra-Light';
    src: url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-ExtraLight.ttf'),
        url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'YA Light';
    src: url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Light.ttf'),
        url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'YA Medium';
    src: url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf'),
        url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'YA Regular';
    src: url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf'),
        url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YA Semi-Bold';
    src: url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-SemiBold.ttf'),
        url('../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}