    /*=============== GOOGLE FONTS ===============*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    /*=============== VARIABLES CSS ===============*/
    :root {
      /*===== Colors =====*/
      --hue-color: 242;

      /* HSL Color Mode */
      --skin-color: #51289b;
      --secondary-color: #5c5c5c;
      --title-color: hsl(var(--hue-color), 8%, 95%);
      --text-color: hsl(var(--hue-color), 8%, 85%);
      --body-color: hsl(var(--hue-color), 19%, 5%);
      --white-color: #ffffff;
      --box-color: hsl(var(--hue-color), 14%, 10%);
      --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
      --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

      /*===== Font and Typography =====*/
      --body-font: 'Poppins', sans-serif;

      /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;

      /*===== Font Weight =====*/
      --font-medium: 500;
      --font-bold: 600;
      --font-extra-bold: 800;

      /*===== Margenes Bottom =====*/
      --mb-0-25: .25rem;
      --mb-0-5: .5rem;
      --mb-0-75: .75rem;
      --mb-1: 1rem;
      --mb-1-5: 1.5rem;
      --mb-2: 2rem;
      --mb-2-5: 2.5rem;
      --mb-3: 3rem;

      /*===== Z Index =====*/
      --z-fixed: 10;
      --z-modal: 100;
    }

    /* Responsive Typography */
    @media screen and (max-width: 1024px) {
      :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
      }
    }

    /*=============== BASE ===============*/
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
    }

    body,
    button,
    input {
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
    }

    body {
      background-color: var(--body-color);
      color: var(--text-color);
    }

    h1,
    h2,
    h3 {
      color: var(--title-color);
      font-weight: var(--font-bold);
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    button {
      cursor: pointer;
      z-index: -1;
      position: relative;
    }

    button,
    input {
      border: none;
      outline: none;
    }

    #smooth-wrapper {
      overflow: hidden;
    }

    #smooth-content {
      will-change: transform;
    }

    /*=============== LAYOUT ===============*/
    .container {
      // max-width: 1250px;
      // margin-left: auto;
      // margin-right: auto;

      &.grid {
        display: grid;
      }
    }

    /*=============== REUSABLE CSS CLASSES ===============*/
    .section {
      padding: 4rem 0 4rem;
      z-index: -1;

      .section-title {
        text-align: center;
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-3);

        &::before {
          content: attr(data-heading);
          display: block;
          font-size: var(--normal-font-size);
          font-weight: var(--font-medium);
          color: var(--skin-color);
        }
      }
    }

    body.light {
      .section {
        .section-title {
          color: var(--secondary-color);

          &::before {
            font-weight: var(--font-bold);
          }
        }
      }
    }

    /*=============== SIDEBAR ===============*/


    /* Active Link */


    /*=============== MAIN ===============*/
    .main {
      overflow-x: hidden;
    }

    /*===== Home Section =====*/
    .home {
      position: relative;
      height: 100vh;
      background-color: black;
      z-index: 0;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../img/hero.jpg') center center no-repeat;
        background-size: contain;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards, glow 4s ease-in-out 2s infinite;
      }

      img {
        display: none;
      }

      .home-container {
        position: relative;
        height: 100%;
        align-items: center;
        perspective: 1000px;

        .rotating-line {
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .rotating-text {
          display: inline-block;
          padding: 6px 14px;
          color: #fff;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          transform-origin: center;
          will-change: transform, opacity, filter;
          min-width: 220px;
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          transition: background-color 0.4s ease-in-out;
        }

        .data {
          position: relative;
          color: var(--white-color);

          .custom-cursor {
            display: inline-block;
            width: 1px;
            height: 1em;
            background-color: var(--white-color);
            margin-left: 5px;
            animation: blink 1.2s steps(2, start) infinite;
            vertical-align: bottom;
          }

          @keyframes blink {
            to {
              visibility: hidden;
            }
          }

          .title {
            font-size: var(--biggest-font-size);
            color: var(--white-color);
          }

          .subtitle {
            font-size: var(--h2-font-size);
            font-weight: var(--font-bold);
            letter-spacing: .5px;
            text-transform: uppercase;
            margin-bottom: var(--mb-0-75);
            color: var(--secondary-color);
            font-family: 'BebasNeue';
            letter-spacing: 3px;
          }

          .description {
            max-width: 450px;
            font-size: var(--h2-font-size);
            margin-bottom: var(--mb-2);
            font-family: 'YA Regular';
            letter-spacing: 1px;
            line-height: 2rem;
          }
        }

        .my-info {
          display: flex;
          column-gap: 1.8rem;
          position: absolute;
          left: 0.75rem;
          bottom: 3rem;

          .info-item {
            display: flex;
            align-items: center;

            .info-title,
            .info-subtitle {
              font-size: var(--small-font-size);
            }

            .info-subtitle {
              cursor: pointer;
              transition: all 0.3s linear;
              font-weight: var(--font-bold);

              &:hover {
                color: var(--skin-color);
              }
            }

            .info-icon {
              font-size: 1.8rem;
              color: var(--skin-color);
              margin-right: var(--mb-0-75);
            }

            .info-title {
              font-weight: var(--font-medium);
            }
          }
        }

        .top-header {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .theme-mode {
            position: fixed;
            top: 1rem;
            right: 2rem;
            z-index: 9999;

            .modeBtn {
              width: 2.5rem;
              height: 2.5rem;
              background: var(--skin-color);
              border-color: var(--skin-color);
            }
          }
        }

        .social {
          position: absolute;
          top: 1.8rem;
          left: 0.75rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 3.5rem;

          .social-follow {
            font-weight: var(--font-medium);
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: 1rem;
              height: 2px;
              background-color: var(--text-color);
              right: -45%;
              top: 50%;
            }
          }

          .social-links {
            display: inline-flex;
            column-gap: 1rem;

            .social-link {
              font-size: 1.08rem;
              color: var(--text-color);
              transition: all 0.3s;

              &:hover {
                transform: translateY(0.25rem);
              }
            }
          }
        }
      }
    }

    body.light {
      .home {
        .home-container {}
      }
    }

    /* Keyframes for fade-in animation */
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    /* Keyframes for glowing effect */
    @keyframes glow {

      0%,
      100% {
        filter: brightness(1);
      }

      50% {
        filter: brightness(1.7);
      }
    }

    /*===== Buttons =====*/
    .button {
      display: inline-flex;
      align-items: center;
      column-gap: 0.5rem;
      background-color: var(--skin-color);
      color: var(--title-color);
      padding: 0.75rem 1.4rem;
      border-radius: 99px;
      font-weight: var(--font-medium);
      position: relative;
      z-index: 1;
      transform: scale(1);
      transition: all 0.8s linear;

      .button-icon {
        font-size: 1.25rem;
      }

      &:hover {
        box-shadow: 0px 0px 30px #6338b5;
      }
    }

    /*===== About Section =====*/


    /*===== Qualification Section =====*/


    /*===== Skills Section =====*/


    /*===== Work Section =====*/


    /* Active Item Work */


    /* Portfolio Popup */


    /*===== Services Section =====*/


    /* Active Modal*/


    /*===== Testimonial Section =====*/


    /* Swiper Class */


    /*===== Contact Section =====*/


    /*=============== FOOTER ===============*/
    .footer {
      display: grid;
      padding-top: 2rem;

      .footer-bg {
        background-color: var(--box-color);
        padding: 1.5rem 0;

        .footer-container {
          grid-template-columns: repeat(3, 1fr);
          column-gap: 1.6rem;

          .footer-title {
            color: var(--title-color);
            font-size: var(--h1-font-size);
            margin-bottom: var(--mb-0-25);
          }

          .footer-subtitle {
            color: var(--title-color);
            font-size: var(--small-font-size);
          }

          .footer-links {
            display: flex;
            justify-content: center;
            column-gap: 2rem;

            .footer-link {
              color: var(--title-color);

              &:hover {
                color: var(--skin-color);
              }
            }

          }

          .footer-socials {
            justify-self: flex-end;
            margin-right: var(--mb-2-5);

            .social-link {
              color: var(--title-color);
              font-size: 1.25rem;
              margin-right: var(--mb-1-5);

              &:hover {
                color: var(--skin-color);
              }
            }
          }

        }

        .footer-copy {
          padding: 0 12px;
          font-size: var(--smaller-font-size);
          margin-top: 1rem;
          margin-bottom: 0;
          text-align: center;
        }
      }
    }

    body.light {
      .footer {
        background: var(--box-color);
      }
    }

    /*=============== SCROLL UP ===============*/
    ::-webkit-scrollbar {
      width: 0.60rem;
      background-color: var(--scroll-bar-color);
      border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb-color) !important;
      border-radius: 0.5rem;
    }

    /* Show Scroll Up*/


    /*=============== SCROLL BAR ===============*/


    /*========== BREAKPOINTS ==========*/
    /* For Large Devices */
    @media screen and (max-width: 1408px) {
      .container {
        // margin-left: var(--mb-2-5);
        // margin-right: var(--mb-2-5);
      }
    }

    @media screen and (max-width: 1216px) {}

    @media screen and (max-width: 1024px) {
      .container {
        // margin-left: var(--mb-1-5);
        // margin-right: var(--mb-1-5);
      }

      .main {
        margin-left: 0;
      }
    }

    /* For Medium Devices */
    @media screen and (max-width: 768px) {
      .footer {
        .footer-bg {
          padding: 2rem 0 2rem;

          .footer-container {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1rem;

            .footer-socials {
              justify-self: start;
            }

            .footer-links {
              flex-direction: column;
              row-gap: 1.5rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: 576px) {
      .home {
        background-image: none;
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;

        .home-container {
          row-gap: 2rem;

          // .home-img {
          //   display: block;
          //   width: 250px;
          //   justify-self: center;
          //   border-radius: 10px;
          //   box-shadow: 10px 10px 15px #0000005f;
          // }
          .data {
            position: relative;
            top: -30px;
            left: -15px;
          }

          .theme-mode {
            .modeBtn {
              position: relative;
              top: 10px;
            }
          }

          .my-info {
            display: none;
          }

          .social {
            left: initial;
            right: 1rem;
            flex-direction: column;
            row-gap: 3.5rem;

            .social-follow {
              font-size: var(--smaller-font-size);
              transform: rotate(90deg);
            }

            .social-links {
              flex-direction: column;
              row-gap: 0.25rem;

              .social-link {
                font-size: var(--normal-font-size);
              }
            }
          }
        }
      }

      .footer {
        .footer-container {
          grid-template-columns: 1fr !important;

          .footer-links {
            justify-self: flex-start;
            padding: 0;
          }
        }
      }
    }

    /* For Small Devices */
    @media screen and (max-width: 350px) {
      .container {
        // margin-left: var(--mb-1);
        // margin-right: var(--mb-1);
      }

      .section {
        padding: 3.5rem 0 1.5rem;
      }

      .home {
        padding: 6rem 0 2rem;

        .home-img {
          width: 200px !important;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.404) !important;
        }

        .data {
          .title {
            font-size: var(--h1-font-size) !important;
          }

          .subtitle {
            font-size: var(--normal-font-size) !important;
          }

          .description {
            font-size: var(--small-font-size);
            margin-bottom: var(--mb-1) !important;
          }
        }
      }
    }