.work-container {
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;

    .work-card {
        background-color: var(--box-color);
        border-radius: 0.5rem;
        overflow: hidden;
        height: 300px;
        min-height: 300px;
        position: relative;
        cursor: pointer;

        &:hover {
            .work-card-body {
                display: grid;
                top: 0;
            }
        }

        .portfolio-item-details {
            display: none;
        }

        .work-card-header {
            width: 100%;
            height: 100%;
            padding: 1rem;

            .work-img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: brightness(100%) saturate(100%);
                // border-radius: 0.5rem;
                margin-bottom: var(--mb-1);
            }
        }

        .work-card-body {
            display: none;
            place-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 1.25rem;
            border-radius: 0.5rem;
            transition: all 0.5s ease-in-out;
            background: rgba(0, 0, 0, 0.711);
            border: 2px dotted var(--white-color);

            .work-title {
                font-size: var(--h2-font-size);
                font-weight: var(--font-bold);
                margin-bottom: var(--mb-0-5);
                text-wrap: wrap;
                color: var(--white-color);
            }

            .work-button {
                color: var(--white-color);
                font-size: var(--small-font-size);
                display: flex;
                align-items: center;
                column-gap: 0.25rem;
                cursor: pointer;
                padding: 10px 30px;
                border-radius: 99px;
                background: black;
                letter-spacing: 1px;
                transition: all 0.3s linear;
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.342);

                &:hover {
                    box-shadow: 0 0 30px rgba(255, 255, 255, 0.401),
                        0 0 35px rgba(255, 255, 255, 0.342);
                }
            }
        }
    }
}

body.light {
    .work-container {
        .work-card {
            .work-card-body {
                .work-title {
                    color: var(--white-color);
                }
            }
        }
    }
}

.work-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 2rem;

    .work-item {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        color: var(--title-color);
        padding: 0.25rem 0.75rem;
        font-weight: var(--font-medium);
        border-radius: 0.5rem;
    }

    .active-work {
        background-color: var(--skin-color);
        color: var(--title-color);
    }
}

.portfolio-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    transition: all 0.5s ease-in-out;

    .popup-inner {
        background-color: var(--box-color);
        width: 900px;
        height: auto;
        border-radius: 0.5rem;
        position: relative;
        overflow: hidden;

        .popup-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            column-gap: 0rem;

            .popup-close {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                font-size: 1.5rem;
                color: var(--skin-color);
                cursor: pointer;
            }

            .thumbnail {
                width: 100%;
                height: 100%;
                padding: 1.5rem;

                .popup-img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    filter: brightness(100%) saturate(100%);
                }
            }

            .popup-info {
                padding: 3rem 2rem;

                .popup-subtitle {
                    font-size: var(--smaller-font-size);
                    margin-bottom: var(--mb-0-25);
                }

                .popup-body {
                    .details-title {
                        font-size: var(--h3-font-size);
                        font-weight: var(--font-medium);
                        margin-bottom: var(--mb-1);
                    }

                    .details-description {
                        font-size: var(--small-font-size);
                        margin-bottom: var(--mb-2);
                        text-align: justify;
                    }

                    .details-info {
                        padding-left: 0;

                        li {
                            margin-bottom: var(--mb-0-75);
                            text-transform: capitalize;
                            font-size: var(--small-font-size);

                            span {
                                font-weight: normal;

                                a {
                                    text-transform: lowercase;
                                    color: var(--skin-color);
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

            }
        }
    }
}

body.light {
    .work {
        background: var(--white-color);

        .work-filters {
            .work-item {
                color: var(--skin-color);
            }

            .active-work {
                color: var(--white-color);
            }
        }

        .work-card {
            background: var(--white-color);
            box-shadow: 0 0 30px rgb(206, 206, 206);
            transition: all 0.5s linear;

            .work-title {
                color: var(--secondary-color);
            }
        }

        .portfolio-popup {
            .popup-inner {
                color: var(--secondary-color);
                font-weight: var(--font-bold);
                background: var(--white-color);

                .details-title {
                    color: var(--skin-color);
                }
            }
        }
    }
}

@media screen and (max-width: 1216px) {
    .work-container {
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .work-card {
        padding: 1rem !important;

        .work-img {
            margin-bottom: var(--mb-0-75) !important;
        }

        .work-title {
            margin-bottom: var(--mb-0-25) !important;
        }

        .portfolio-item-details {
            margin-bottom: var(--mb-1-5) !important;
        }
    }

    .details-info {
        li {
            margin-bottom: var(--mb-0-5) !important;
        }
    }

    .details-title {
        margin-bottom: var(--mb-0-75) !important;
    }
}

@media screen and (max-width: 768px) {
    .work-container {
        margin: 0;
        grid-template-columns: 330px;
    }

    .popup-inner {
        width: 420px !important;
        padding: 2.8rem 1.5rem 2.5rem !important;

        .popup-content {
            grid-template-columns: 1fr !important;
            row-gap: 1.6rem;

            .popup-close {
                top: 0.5rem !important;
            }

            .details-title {
                font-size: var(--normal-font-size) !important;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .work-container {
        grid-template-columns: 320px;
        gap: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .work-filters {
        column-gap: 0.25rem !important;
        margin-bottom: var(--mb-1);

        .work-item {
            font-size: var(--small-font-size) !important;
        }
    }

    .work-container {
        grid-template-columns: 290px;

        .work-card {
            .work-img {
                height: 100px;
                min-height: 140px;
            }
        }
    }

    .popup-inner {
        padding-bottom: 5px !important;

        .popup-content {
            grid-template-columns: 270px !important;
            overflow: hidden;

            .popup-info {
                .popup-body {
                    .details-title {
                        font-size: var(--h2-font-size) !important;
                    }

                    .details-description {
                        word-wrap: break-word !important;
                        font-size: var(--smaller-font-size) !important;
                        margin-bottom: var(--mb-1-5) !important;
                    }

                    .details-info {
                        span {
                            a {
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
        }
    }
}