.work-container {
    grid-template-columns: repeat(3, 380px);
    gap: 1.6rem;
    justify-content: center;
    padding-top: 1rem;
    position: relative;
    z-index: 0;

    .work-card {
        width: 100%;
        height: auto;
        position: relative;
        cursor: pointer;

        &:hover {
            .work-card-header {
                .work-img {
                    transform: scale(1.05);
                }
            }
        }

        .work-card-header {
            width: 100%;
            height: 220px;
            min-height: 220px;
            // padding: 1rem;
            border-radius: 0.5rem;
            background-color: var(--box-color);
            overflow: hidden;

            .work-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // border-radius: 0.5rem;
                margin-bottom: var(--mb-1);
                transition: all 0.5s ease-in-out;
                filter: brightness(90%) contrast(110%) saturate(110%);
            }
        }

        .work-card-body {
            display: block;
            padding: 10px 0;

            h2 {
                font-size: var(--h3-font-size);
                letter-spacing: 0.5px;
            }

            .button {
                margin: 5px 0;
                padding: 8px 25px;
            }
        }
    }
}

body.light {
    .work {
        background: var(--white-color);

        .work-container {
            .work-card {
                .work-card-header {
                    background: rgba(3, 3, 3, 0.437);
                    // background: linear-gradient(0deg, black, rgb(193, 193, 193));
                }

                .work-card-body {
                    .work-title {
                        color: var(--white-color);
                    }

                    h2 {
                        color: #000;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1216px) {
    .work-container {
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .work {
        .work-container {
            grid-template-columns: repeat(2, 400px);
            gap: 1rem;
        }
    }

    .work-card {
        padding: 1rem !important;

        .work-img {
            margin-bottom: var(--mb-0-75) !important;
        }

        .work-title {
            margin-bottom: var(--mb-0-25) !important;
        }

        .portfolio-item-details {
            margin-bottom: var(--mb-1-5) !important;
        }
    }

    .details-info {
        li {
            margin-bottom: var(--mb-0-5) !important;
        }
    }

    .details-title {
        margin-bottom: var(--mb-0-75) !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .work-container {
        grid-template-columns: 330px;
    }

    .popup-inner {
        width: 420px !important;
        padding: 2.8rem 1rem 2.5rem !important;

        .popup-content {
            grid-template-columns: 1fr !important;
            row-gap: 1.6rem;

            .popup-close {
                top: 0.5rem !important;
            }

            .thumbnail {
                padding: 0 !important;
            }

            .popup-info {
                padding: 1rem !important;
            }

            .details-title {
                font-size: var(--normal-font-size) !important;
            }
        }
    }
}

@media (min-width: 351px) and (max-width: 576px) {
    .work-container {
        grid-template-columns: 320px;
        gap: 1rem;

        .work-card {
            padding: 0 !important;
        }
    }
}

@media screen and (max-width: 350px) {
    .work-filters {
        column-gap: 0.25rem !important;
        margin-bottom: var(--mb-1);

        .work-item {
            font-size: var(--small-font-size) !important;
        }
    }

    .work-container {
        grid-template-columns: 290px;
        gap: 10px;

        .work-card {
            padding: 0 !important;

            .work-card-header {
                height: 180px;
                min-height: 180px;
            }
        }
    }

    .popup-inner {
        padding-bottom: 5px !important;

        .popup-content {
            grid-template-columns: 270px !important;
            overflow: hidden;

            .popup-info {
                .popup-body {
                    .details-title {
                        font-size: var(--h2-font-size) !important;
                    }

                    .details-description {
                        word-wrap: break-word !important;
                        font-size: var(--smaller-font-size) !important;
                        margin-bottom: var(--mb-1-5) !important;
                    }

                    .details-info {
                        span {
                            a {
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
        }
    }
}