.nav-toggle {
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);

    .nav-logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 1.2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--skin-color);
        text-align: center;
        margin: auto;

        .logo-text {
            font-size: 1.125rem;
            color: var(--title-color);
            font-weight: var(--font-bold);
            line-height: 40px;
        }
    }

    .btn-share {
        position: absolute;
        bottom: 1.8rem;
        left: 0;
        right: 0;
        text-align: center;

        svg {
            font-size: 1.5rem;
        }
    }

    .nav-menu {
        position: fixed;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
        width: 100vh;

        .menu {
            display: flex;

            .nav-list {
                display: flex;
                justify-content: center;
                align-items: end;
                flex-direction: row-reverse;
                margin: -2px auto 0 auto;
                padding: 0;

                .nav-link {
                    float: right;
                    height: 100%;
                    line-height: 100px;
                    padding: 0 1rem;
                    color: var(--title-color);
                    font-weight: var(--font-medium);
                    position: relative;
                    cursor: pointer;

                    &.active,
                    &:hover {
                        color: var(--skin-color);
                    }

                    &.active::after,
                    &:hover::after {
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        background-color: var(--skin-color);
                        border-radius: 50%;
                        bottom: 1.8rem;
                        left: 0;
                        margin: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    .nav-close {
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        cursor: pointer;
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);

        .nav-menu {
            width: 100%;
            height: 100%;
            transform: rotate(0deg) translateX(0);
            display: flex;
            justify-content: center;

            .nav-list {
                flex-direction: column !important;
                height: 100%;
                justify-content: center !important;
                align-items: center !important;

                .nav-link {
                    padding: 1rem 0 !important;
                    line-height: 1.5rem !important;

                    &.active::after, &:hover::after {
                        bottom: 0 !important;
                    }
                }
            }
        }

        .nav-close {
            display: block;
        }

        .nav-logo,
        .btn-share {
            display: none;
        }
        
    }

    .nav-toggle {
        display: flex;
    }
}