.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);

    .nav-logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 1.2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--skin-color);
        text-align: center;
        margin: auto;

        .logo-text {
            font-size: 1.125rem;
            color: var(--title-color);
            font-weight: var(--font-bold);
            line-height: 40px;
        }
    }

    .btn-share {
        position: absolute;
        bottom: 1.8rem;
        left: 0;
        right: 0;
        text-align: center;

        svg {
            font-size: 1.5rem;
        }
    }

    .nav-menu {
        position: fixed;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
        width: 100vh;

        .menu {
            display: flex;

            .nav-list {
                display: flex;
                justify-content: center;
                align-items: end;
                flex-direction: row-reverse;
                margin: -2px auto 0 auto;
                padding: 0;

                .nav-link {
                    float: right;
                    height: 100%;
                    line-height: 100px;
                    padding: 0 1rem;
                    color: var(--title-color);
                    font-weight: var(--font-medium);
                    position: relative;
                    cursor: pointer;

                    &.active, &:hover {
                        color: var(--skin-color);
                    }

                    &.active::after, &:hover::after {
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        background-color: var(--skin-color);
                        border-radius: 50%;
                        bottom: 1.8rem;
                        left: 0;
                        margin: auto;
                        right: 0;
                    }
                }
            }
        }
    }
}