.technology {
    .technology-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inner-content {
            display: flex;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            // margin: 10px 0;
            flex-wrap: wrap;

            .tech-card {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin: 0 5px;
                background: rgba(94, 94, 94, 0.794);
                border: 3px solid gray;
                padding: 5px 10px;
                border-radius: 99px;

                .tech-icon {
                    width: 30px;
                    height: 30px;

                    img {
                        width: 100%;
                        object-fit: contain;
                        aspect-ratio: 1/1;
                    }
                }

                .tech-name {
                    padding: 0 5px;
                    margin: 0;
                }
            }
        }
    }

}

body.light {
    .technology {
        background: var(--white-color);

        .inner-content {
            span {
                background: var(--white-color);
                box-shadow: 0 0 30px rgb(206, 206, 206);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .technology {
        .inner-content {
            gap: 10px;

            &:first-child,
            &:nth-child(2) {
                width: 90% !important;
            }
        }
    }
}